<% provide(:title, 'My Resume') %>

<div class="in-progress">
<h3>Under construction</h3>	
	<div class="row">
	<br>
	<div class="small-12">
	<h2 class="text-left">Timothy Kellogg</h2>
	<hr>
	</div>

	<h4 class="text-left">Summary:</h4>
	<p class="text-left"><i>Building...</i></p>	

	</div>
</div>