h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 4em;
}

p {
	font-family: 'Droid Serif';
}

dl {
	dt {
		font-size: 1.8em;
		font-weight: bold;
	}

	dd {
		font-weight: lighter;
		font-size: 1.6em;
	}
}

#logo {
	color: gold;
}

.individual-article {
	&:hover {
		background-color: #FAFAFA;
		opacity: .8;
	};
}
