@import 'foundation_and_overrides.scss'; 

/* Typography 
********************/

h1, h2, h3, h4, h5, li, dl, dt {
	letter-spacing: 1px;
}

.huge-line-height {
	margin-top: 1.2em;
	margin-bottom: 2em;
}

/* Labels 
********************/



.bright {
  padding:7px 16px 9px;
  font-size:13px;
  background-color:yellow;
  border-radius:4px;
}

.default {
	@extend .label;
}


/* General 
*******************/

.in-progress {
	opacity: .5;

	h3 {
		position: fixed;
		left: 40%;
		top: 40%;
		color: white;
		background-color: darkblue;
	}
}

#flash-msg {
  margin-bottom: 0;
  text-align: center;
}